page-inventory-list {

}

.title {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.input_field {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

.table_labels {
	text-align: center;
}

.quantity {
	text-align: right;
}

.item-divider{
    background-color: #11c1f3 ;
    color: white;
}